body {
    background-color: #eefbfb;
}

  #blogdetail {
    background-color: #31e74a;
    border: 3px solid #31e74a;
    border-radius: 10px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #31e74a;
  }
  #blogdetail:hover {
    box-shadow: 0 0 10px 0 #31e74a inset, 0 0 20px 2px #31e74a;
    border: 3px solid #31e74a;
  }
  #buttonedt {
    background-color: #1488da;
    border: 3px solid #1488da;
    border-radius: 10px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #1488da;
  }
  #buttonedt:hover {
    box-shadow: 0 0 10px 0 #1488da inset, 0 0 20px 2px #1488da;
    border: 3px solid #1488da;
  }
  
  #blogsubmit {
    transition: all 0.3s ease-in-out;
  }

  #blogsubmit:hover {
    transform: scale(0.8);
  }